/* Esto es un fichero de estilo */
body{
  background-image: url(https://www.xtrafondos.com/wallpapers/resized/carretera-de-anochecer-nubes-y-bosque-3040.jpg?s=large);
  background-repeat: no-repeat;
background-size: cover;

  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align:  center;
  margin-top: 5%;
  color: white;
}
p{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
}
form{
  text-align: center;
  color: white;
}
.container{
  margin-top: 4%;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/732/363/728/abstract-blue-dark-textures-backgrounds-1920x1080-abstract-textures-hd-art-wallpaper-preview.jpg);
  opacity: 90%;
  height: 710px;
  width: 480px;
  border-radius: 25px ;

}
input{
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  color: white;
  background-color: black;
}
#pie{
  color: white;
  font-family: monospace;
  text-align: center;
  margin: 5px;
}
img{
  height: 40px;
  margin: 0px;
}
a{
  color: white;
  text-shadow: 8px 8px 8px;
  margin: 5px;
}
